html{
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.gameContainer{
    margin-left: 30%;
    height: 100%;
    text-align: center;
}

.game{


}

.info{
    margin-top: 14%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.mainContainer{
    display: flex;
}

h1{
    font-size: 2.2em;
}

h2{
    font-size: 1.5em;
}

p{
    font-size: 1em;
}